<a class="btn btn-outline-dark" href="/welcome/index" role="button">Home</a>

<h2>Listing Affairs</h2>

<%= render 'table' %>

<%= will_paginate @affairs %>

<%= link_to 'New affair', new_affair_path, class: 'btn btn-outline-primary' %>