<a class="btn btn-outline-dark" href="/welcome/index" role="button">Home</a>

<h2>Listing Assignments</h2>

<%= render 'table' %>

<%= will_paginate @assignments %>

<%= link_to 'New assignment', new_assignment_path, class: 'btn btn-outline-primary' %>