<a class="btn btn-outline-dark" href="/welcome/index" role="button">Home</a>

<h2>Listing Clients</h2>

<%= render 'table' %>

<%= will_paginate @clients %>

<%= link_to 'New client', new_client_path, class: 'btn btn-outline-primary' %>