<a class="btn btn-outline-dark" href="/welcome/index" role="button">Home</a>

<h2>Listing Attorneys</h2>

<%= render 'table' %>

<%= will_paginate @attorneys %>

<%= link_to 'New attorney', new_attorney_path, class: 'btn btn-outline-primary' %>